<style>
  
   #map-ui {
    display:none;
    /*position: relative;
    top: 175px;
    left: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;*/
}
</style>
<div class='row-fluid'>
 <div class='span4 '>
    <h2><%= @name %></h2>
    <p>
      <%= @vicinity %>
    </p>

    <h1>
      <%= link_to "/stories/new/#{@lat}/#{@long}/#{@vicinity}/#{@name}" do %>
        <i class="fa fa-plus-circle fa-2x"></i>
      <% end %>
      Location Stories
    </h1>

    <ul class="media-list">
      <% @stories.each do |story| %>
        <li class="media">
          <%= link_to "/stories/#{story.id}" do %>
            <span class="fa-stack fa-lg media-object pull-left">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-film fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
          <%= link_to story, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="fa-stack fa-lg media-object pull-left">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
          <%= link_to "/stories/#{story.id}" do %>
            <div class="media-body">
              <h4 class="media-heading"><%= story.title %></h4>
            </div>
          <% end %>
        </li>
      <% end %>
      <% @otherstories.each do |story| %>
        <li class="media">
          <%= link_to "/stories/#{story.id}" do %>
            <span class="fa-stack fa-lg media-object pull-left">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-film fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
          <%= link_to story, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="fa-stack fa-lg media-object pull-left">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
          <%= link_to "/stories/#{story.id}" do %>
            <div class="media-body">
              <h4 class="media-heading"><%= story.title %></h4>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
 

   </div>
   <div class="span8">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
 <ul id="map-ui">
        <li><a href='#' id='geolocate'>Find me</a></li>
    </ul>
    <div id="storyMap"></div>
     <%= @lat %>
    
   </div>
</div>
